@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Prevent modal content from jumping / shifting on mobile */
.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* ensure overlay/content z-order is higher than other elements */
.ReactModal__Overlay {
  z-index: 9999 !important;
}

.ReactModal__Content {
  z-index: 10000 !important;
}
